<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>
			{% block title %}{% endblock %}
			- Pedaka
		</title>
		<!-- preloading style and scripts -->

		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="preload" as="style"/>
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style"/>
		<link
		rel="preload" href="https://cdn.jsdelivr.net/npm/vue@2.6.11" as="script"/>
		<link
		rel="preload" href="assets/css/style.css" as="style"/>

		<!-- Tailwind CSS -->
		<link
		href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
		<!-- font-awesome -->
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<!-- system styles -->
		<link rel="stylesheet" href="assets/css/style.css"/>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	</head>
	<body>
		<div id="app">
			<header class="mb-16">
				<nav class="bg-gray-600 textw-white">
					<div class="container flex flex-wrap items-center mx-auto justify-between">
						<a href="#" class="inline-block font-bold text-lg text-white">Pedamik</a>
						<ul class="flex flex-wrap ml-8 text-white">
							<li>
								<a href="/" class="block py-2 px-4 {{ nav_active(0, '') }}">Dasbor</a>
							</li>
							{% if user is not null %}
								{% if user.role == 'admin' %}
									<li>
										<a href="{{ url_for('faculty.index') }}" class="block py-2 px-4 {{ nav_active(0, 'faculty') }}">Fakultas</a>
									</li>
									<li>
										<a href="{{ url_for('department.index') }}" class="block py-2 px-4 {{ nav_active(0, 'department') }}">Jurusan</a>
									</li>
									<li>
										<a href="{{ url_for('class.index') }}" class="block py-2 px-4 {{ nav_active(0, 'class') }}">Kelas</a>
									</li>
									<li>
										<a href="{{ url_for('course.index') }}" class="block py-2 px-4 {{ nav_active(0, 'course') }}">Mata Kuliah</a>
									</li>
									<li>
										<a href="{{ url_for('student.index') }}" class="block py-2 px-4 {{ nav_active(0, 'student') }}">Mahasiswa</a>
									</li>
									<li>
										<a href="{{ url_for('lecturer.index') }}" class="block py-2 px-4 {{ nav_active(0, 'lecturer') }}">Dosen</a>
									</li>
								{% endif %}
								<li>
									<a href="{{ url_for('logout') }}" class="block py-2 px-4 {{ nav_active(0, 'logout') }}">Logout</a>
								</li>
								{% else %}
									<li>
									<a href="{{ url_for('login') }}" class="block py-2 px-4 {{ nav_active(0, 'login') }}">Login</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>
				<div class="bg-gray-200 border-b-2">
					<div class="container mx-auto">
						<div class="py-8"> {% block header %}{% endblock %} </div>
					</div>
				</div>
			</header>
			{% block content %}{% endblock %}
			<footer class="text-center text-gray-700 mt-8 pb-8">
				Copyright &copy; 2020. Sifo Akademik
			</footer>
		</div>
		{% block footer_scripts %}{% endblock %}
	</body>
	</html>
