{% extends "layouts/app.twig" %}

{% block title %}Ubah Dosen
{% endblock %}

{% block header %}
	<h1 class="text-3xl font-bold text-gray-800">Ubah Dosen</h1>
{% endblock %}

{% block content %}
	<section class="container mx-auto">
		<form action="{{ url_for('lecturer.update', {'id': lecturer.id}) }}" method="POST">
			{% include "partials/flash-message.twig" %}
			<div class="flex flex-wrap -mx-4">
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">Email</label>
						<input type="email" name="email" placeholder="Email" value="{{ old('email')|default(lecturer.email) }}" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none">
					</div>
				</div>
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">NIDN</label>
						<input type="text" name="nidn" placeholder="NIDN" value="{{ old('nidn')|default(lecturer.nidn) }}" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none">
					</div>
				</div>
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">Nama Dosen</label>
						<input type="text" name="name" placeholder="Nama Dosen" value="{{ old('name')|default(lecturer.name) }}" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none">
					</div>
				</div>
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">No. Telp</label>
						<input type="text" name="phone_number" placeholder="Nomor Telepon" value="{{ old('phone_number')|default(lecturer.phone_number) }}" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none">
					</div>
				</div>
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">Jenis Kelamin</label>
						<select name="gender" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none">
							<option value="L"{{ old('gender')|default(lecturer.gender) == 'L' ? ' selected' : '' }}>Laki-Laki</option>
							<option value="P"{{ old('gender')|default(lecturer.gender) == 'P' ? ' selected' : '' }}>Perempuan</option>
						</select>
					</div>
				</div>
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">Tanggal Lahir</label>
						<input type="date" name="birth_date" placeholder="Tanggal Lahir" value="{{ old('birth_date')|default(lecturer.birth_date) }}" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none">
					</div>
				</div>
				<div class="w-6/12 px-4">
					<div class="mb-4">
						<label class="font-bold text-sm text-gray-700 block mb-2">Alamat</label>
						<textarea name="address" placeholder="Alamat Lengkap" class="w-full border rounded px-4 py-2 focus:border-gray-600 outline-none" rows="3">{{ old('address')|default(lecturer.address) }}</textarea>
					</div>
				</div>
			</div>
			<div>
				<button class="focus:outline-none bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-800">Ubah Dosen</button>
				<a href="{{ url_for('lecturer.index') }}" class="inline-block ml-4 text-gray-700 hover:underline">Kembali</a>
			</div>
		</form>
	</section>
{% endblock %}
